<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parameterization">


<parameter name="url" value="https://10.11.144.178:8107/home/login/1/"/>
  
  <test  name="Test">

  <classes>
 		 <class name="testng.parameter">
 		 <methods>
			<include name="Launch" />
			
		</methods>
 		 </class>
 		 
  </classes>
  
			
  </test> <!-- Test -->
</suite> <!-- Suite -->
