<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/1925566/eclipse-workspace/maven_practise">
       <classes>

           <class name="tut1_Login"></class>
           <class name="NewTest"></class>
           <class name="OrderofTestExecutionInTestNG"></class>
           <class name="tut_Prioritize"></class>
       </classes>



    </test>
</suite>